body{
    position: relative;
    top: 150px;
    text-align: center;
    box-align: center;
    color: rgb(0, 0, 0);
}
.box {
    border: #4e7bcc 2px solid; /*境界線の指定*/
    padding:10px;
    left: auto;
   
    }
.box p {
    margin:0;
    padding:0;
    }
#button3{
    text-align: center;
    position: relative;
   
}
#button2{
    position: relative;
    text-align: center;
}