body{
    margin: 50px;  
    user-select: none;
}
p{
    font-size: 50px;
    padding: 50px;
    text-align: center;
}
.all{
  border: solid 0.1px black;
  width: 300px;
  height: 150px;
  margin: 50px auto 0;
  padding: 20px;
 }
 .all1{
  border: solid 0.1px black;
  width: 300px;
  height: 100px;
  margin: 50px auto 0;
  padding: 20px;
 }
 .all2{
  border: solid 0.1px black;
  width: 400px;
  height: 230px;
  margin: 50px auto 0;
  padding: 20px;
 }
input{
   font-size: 100%;
   width: 200px;
   height: 20px;
   margin: 10px;
}
a.btn_02 {
  display: block;
	text-decoration: none;
  text-align: center;
  width: 80px;
  margin: 10px auto 10px auto;
  border-radius: 5px;
	background: #006eff;
	color: #ffffff;
	transition: 0.5s;
}
a.btn_02:hover {
	color: #fff;
	background: #0014c9;
}
.make{
  color: #0014c9;
  text-decoration: none;
}